body {
    background-color: rgb(53, 34,35);
    
}
.container {
    width: 100%;
    height: 60%;
    margin-left: autos;
    margin-right: auto;
    margin-top: 30%;
}

.text-header {
    position: relative;
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
    color: white;
    text-align: center;
    margin-top: -5%;
}

/* ------------------------- */
/*    MOBILE - RESPONSIVE    */
/* ------------------------- */
@media screen and (min-width: 480px) {
    .container {
        width: 100%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .text-header {
        font-size: medium;
    }

}

@media screen and (min-width: 767px) {
    .container {
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .text-header {
        font-size: large;
    }
  
}

@media screen and (min-width: 950px) {
    .container {
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .text-header {
        font-size: x-large;
    }
    
  
}